<!-- Include head -->
<% include ../admin/head %>
<!-- Home Page -->
<div class="container">
  <div class="row text-center" style="margin-top:50px;">
    <a href="/admin/about"><div class="col-sm-5 card-menu">
      <i class="fa fa-group"></i>
      <span class="menu">About us</span>
    </div>
    </a>
    <a href="/admin/news"><div class="col-sm-6 card-menu">
      <i class="fa fa-tasks"></i>
      <span class="menu">News</span>
    </div>
    </a>
    <a href="/admin/works"><div class="col-sm-4 card-menu">
      <i class="fa fa-clone"></i>
      <span class="menu">Our Works</span>
    </div>
    </a>
    <a href="/admin/params"><div class="col-sm-7 card-menu">
      <i class="fa fa-cogs"></i>
      <span class="menu">Params</span>
    </div>
    </a>
  </div>
</div>

</body>
</html>
