<% include ./layouts/head %>
<div id="reveal-home" class="reveal-slider page-home__reveal-slider">
  <div class="reveal-slider__slide" style="z-index: 0;">
    <div class="[ reveal-slider__scale ] [ overlay overlay--light ]">
      <div class="reveal-slider__slide-video-container">
        <video id="video-top" autoplay loop muted width="1920" height="1080" poster="https://2nrwu14egrp64exn143ufsvb-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/video1-1200x700.jpg" class="[ reveal-slider__slide-video ]" data-src="assets/videos/video.mp4?s=d409418ebebd243e2e2b69051e519152895d009e&profile_id=175">
                <source src="" type="video/mp4">
            </video>
        </div>
      </div>
  </div>
</div>

		<div class="relative">
			<section class="[ l-row ] [ c-sidebar__wrapper ] [ hide--tl ] c-meet-body">
				<div class="container">
					<div data-sticky class="[ col--grid-2 ] [ c-sidebar ]">
						<ul class="[ section-nav ] [ list--bare ]">
							<li><a href="#section-1">Employee ownership</a></li>
							<li><a href="#section-2">Happy Makers</a></li>
							<li><a href="#section-3">The Make Charter</a></li>
							<li><a href="#section-4">Always innovating</a></li>
							<li><a href="#section-5">Permission to build</a></li>
							<li><a href="#section-6">Direct accountability</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section class="[ l-row l-row--white l-row--flush l-row--no-flush-bp-tl ] c-meet-body">
					<div class="container">
            <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
							<div class="[ col col--grid-8-bp-tl col--1-1-bp-tp ]">
            <div
                class="lazy-container  [ c-image ]" style="padding-bottom: 66.6684026874%;">
                <img
                    data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_170504_medium.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=6bdcb63cd3736c2c773b8d883ef1d5f1 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_170504_medium.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=4f5e945694f913d68f3adfa4b7ee579d 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_170504_medium.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=40305864bbc9d7e8b338754ae4a1332a 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_170504_medium.jpg?auto=format&crop=center&fit=crop&h=682&ixlib=php-1.2.1&w=1024&s=a69485361f93913d6b46fde91071670d 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_170504_medium.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=2dc89fb7f2830832a650c6e3d079aa49 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_170504_medium.jpg?auto=format&crop=center&fit=crop&h=1066&ixlib=php-1.2.1&w=1600&s=59920545ce931364f4709651c2cda391 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_170504_medium.jpg?auto=format&crop=center&fit=crop&h=1280&ixlib=php-1.2.1&w=1920&s=882d457af93ca668bdf0865380da0316 1920w"
                    data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_170504_medium.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=2dc89fb7f2830832a650c6e3d079aa49"
                    alt="#"
                    class="lazyload" sizes="(min-width: 992px) 75vw, 90vw">

            </div>

            							</div>
							<div id="section-1" class="[ col col--grid-8-bp-tl col--1-1-bp-tp ]">
								<h2>Employee ownership</h2><p>Since our founding, Make has been <a href="https://www.makearchitects.com/meet-make/employee-ownership/">100% employee-owned</a>. Our non-hierarchical structure allows for the free flow of ideas and is reflected in our friendly, collaborative culture. Since every Maker is a partner, they&#8217;re also 100% dedicated to the success of the company.</p>
							</div>



				<div class="[ l-row l-row--flush ] c-meet-body__item">
					<div class="[ col col--grid-3 col--grid-2-bp-tl ] [ hide--tp ]">&nbsp;</div>
					<div class="[ col col--grid-9 col--grid-10-bp-tl col--1-1-bp-tl ]">
            <div
                class="lazy-container  [ c-image ]" style="padding-bottom: 60.3666475704%;">
<img
                    data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2F00743_N238_medium.jpg?auto=format&crop=center&fit=crop&h=127&ixlib=php-1.2.1&w=210&s=5ef952076fc19551ec6bf8beefdf96b6 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2F00743_N238_medium.jpg?auto=format&crop=center&fit=crop&h=253&ixlib=php-1.2.1&w=420&s=d63ac5a16c923152e545405f2cfd222d 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2F00743_N238_medium.jpg?auto=format&crop=center&fit=crop&h=463&ixlib=php-1.2.1&w=768&s=1e47971481a58741b0119fd7157c66f2 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2F00743_N238_medium.jpg?auto=format&crop=center&fit=crop&h=618&ixlib=php-1.2.1&w=1024&s=8402fdc8075a2de950e062093e9a4f78 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2F00743_N238_medium.jpg?auto=format&crop=center&fit=crop&h=845&ixlib=php-1.2.1&w=1400&s=0cb1e45d35c3a4274cf951d9b16b90a0 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2F00743_N238_medium.jpg?auto=format&crop=center&fit=crop&h=966&ixlib=php-1.2.1&w=1600&s=c48dae8927119d180d1bc6118f164b8c 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2F00743_N238_medium.jpg?auto=format&crop=center&fit=crop&h=1159&ixlib=php-1.2.1&w=1920&s=14ea49d8d2e92eed98947c3e847dbc40 1920w"
                    data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2F00743_N238_medium.jpg?auto=format&crop=center&fit=crop&h=845&ixlib=php-1.2.1&w=1400&s=0cb1e45d35c3a4274cf951d9b16b90a0"
                    alt="#"
                    class="lazyload" sizes="(min-width: 992px) 75vw, 90vw">

            </div>

            					</div>
				</div>

				<div class="[ l-row l-row--flush ] c-meet-body__item c-meet-body__item--text-on-top">
					<div class="[ col col--1-2 col--grid-4-bp-tl ] [ hide--tp ] ">&nbsp;</div>
					<div class="[ col col--1-2 col--grid-8-bp-tl col--1-1-bp-tp ] ">
						<div class="c-text">
							<h2 id="section-2">Happy Makers</h2>
							<p>Make is a fun, friendly, down-to-earth of place where everyone is valued and looked after. We&#8217;ve been named AJ100 Employer of the Year twice, and we’ve made the Sunday Times ‘100 Best Small Companies to Work For’ list three times.</p>
							<h2 id="section-3">The Make Charter</h2>
							<p>There is no one-size-fits-all ‘Make style’, no cookie-cutter approach. Instead, we&#8217;re guided by the <a href="https://www.makearchitects.com/meet-make/the-make-charter/">Make Charter</a>, which expresses our process and purpose: “To design the best places, spaces and buildings in the world.” We explore the unique potential of every brief to find the best solution for each individual project – one that’s right for people, planet, client and community.</p>
						</div>
					</div>
				</div>

				<div class="[ l-row l-row--flush ] c-meet-body__item">
					<div class="[ col col--1-2 col--grid-4-bp-tl ] [ hide--tp ]">&nbsp;</div>
					<div class="[ col col--1-2 col--grid-8-bp-tl col--1-1-bp-tp-flush ]">
            <div
                class="lazy-container  [ c-image ]" style="padding-bottom: 66.6684026874%;">
                <img
                    data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=19d63f30d03a9cdf39d391b4074c8ed5 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=acb5dde60881c436dee481288fa6e57a 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=bee889342c9f839593102c6304a198db 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=683&ixlib=php-1.2.1&w=1024&s=f5bf50da1288cd67aac71bd5104b4a1f 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1067&ixlib=php-1.2.1&w=1600&s=1e43606178b80de7e8cfea06fe176921 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1280&ixlib=php-1.2.1&w=1920&s=627c53de2d7cb35baaaf0a9583dc50a8 1920w"
                    data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9"
                    alt="#"
                    class="lazyload" sizes="(min-width: 992px) 50vw, (min-width: 740px) 67vw, 90vw">
            </div></div>
				</div>

				<div class="[ l-row l-row--flush ] c-meet-body__item c-meet-body__item--text-on-top">
					<div class="[ col col--1-2 col--grid-4-bp-tl ] [ hide--tp ]">&nbsp;</div>
					<div id="section-4" class="[ col col--1-2 col--grid-8-bp-tl col--1-1-bp-tp ] ">
						<div class="c-text">
							<h2>Always innovating</h2>
							<p>Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="https://www.futurespacesfoundation.org">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.</p>
						</div>
					</div>
				</div>

				<div class="[ l-row l-row--flush ] c-meet-body__item">
					<div class="[ col col--grid-3 col--grid-2-bp-tl ] [ hide--tp ]">&nbsp;</div>
					<div class="[ col col--grid-9 col--grid-10-bp-tl col--1-1-bp-tl ]">
            <div
                class="lazy-container  [ c-image ]" style="padding-bottom: 69.3245143482%;">
                <img
                    data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F11%2FRathboneSquare_Make-1.jpg?auto=format&crop=center&fit=crop&h=146&ixlib=php-1.2.1&w=210&s=856d185351f095a5eb38c550fbfa4f3e 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F11%2FRathboneSquare_Make-1.jpg?auto=format&crop=center&fit=crop&h=291&ixlib=php-1.2.1&w=420&s=a0501dadbeb3a68618a45144c675460f 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F11%2FRathboneSquare_Make-1.jpg?auto=format&crop=center&fit=crop&h=532&ixlib=php-1.2.1&w=768&s=d24044f90e8d9d4f4ee709cb4b8b3bfa 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F11%2FRathboneSquare_Make-1.jpg?auto=format&crop=center&fit=crop&h=710&ixlib=php-1.2.1&w=1024&s=78b010ce4791def0288993fbf3557ced 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F11%2FRathboneSquare_Make-1.jpg?auto=format&crop=center&fit=crop&h=970&ixlib=php-1.2.1&w=1400&s=c7526d74a450d2535f075b2cead12b71 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F11%2FRathboneSquare_Make-1.jpg?auto=format&crop=center&fit=crop&h=1109&ixlib=php-1.2.1&w=1600&s=1ef350df0fb65a24cc046433a1e9fab7 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F11%2FRathboneSquare_Make-1.jpg?auto=format&crop=center&fit=crop&h=1331&ixlib=php-1.2.1&w=1920&s=48d634afc2bd2bd5f41a565e35949c5d 1920w"
                    data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F11%2FRathboneSquare_Make-1.jpg?auto=format&crop=center&fit=crop&h=970&ixlib=php-1.2.1&w=1400&s=c7526d74a450d2535f075b2cead12b71"
                    alt="#"
                    class="lazyload" sizes="(min-width: 992px) 75vw, 90vw">
            </div>
          </div>
				</div>
				<div class="[ l-row l-row--flush ] c-meet-body__item c-meet-body__item--text-on-top">
					<div class="[ col col--grid-3 col--grid-2-bp-tl ] [ hide--tl ]">&nbsp;</div>
					<div id="section-5" class="[ col col--6-12 col--grid-8-bp-tl col--1-1-bp-tp ] [ padding--right padding--right-flush-bp-tl ]">
						<div class="c-text c-text--regular"><h2>Permission to build</h2><p>Make has an outstanding track record for receiving planning permission. Since our founding, we’ve received over 100 planning permissions. In the last three years alone, we’ve achieved an average of at least one successful planning consent every month.</p></div>
     	   </div>
					<div class="[ col col--grid-3 col--grid-2-bp-tl ] [ hide--tp ]">&nbsp;</div>
				</div>

				<div class="[ l-row l-row--flush ] c-meet-body__item">
					<div class="[ col col--grid-3 col--grid-2-bp-tl ] [ hide--tp ]">&nbsp;</div>
					<div class="[ col col--grid-6 col--grid-8-bp-tl col--1-1-bp-tp ] ">
            <div
                class="lazy-container  [ c-image ]" style="padding-bottom: 66.7204833082%;">
                <img
                    data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_160610_N38_medium.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=17b49818b177cf5935e102eaaca03f05 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_160610_N38_medium.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=791609495774b774b3408622a475552f 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_160610_N38_medium.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=81a3daa1667dc4aa4d83258ede9cbceb 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_160610_N38_medium.jpg?auto=format&crop=center&fit=crop&h=683&ixlib=php-1.2.1&w=1024&s=c8ca942e23fd652c6a19d9eed1cd4929 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_160610_N38_medium.jpg?auto=format&crop=center&fit=crop&h=934&ixlib=php-1.2.1&w=1400&s=d436f89562515d645f76a2325b4338a8 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_160610_N38_medium.jpg?auto=format&crop=center&fit=crop&h=1067&ixlib=php-1.2.1&w=1600&s=991b9d4d35c757f2c983d84f534d9ec3 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_160610_N38_medium.jpg?auto=format&crop=center&fit=crop&h=1281&ixlib=php-1.2.1&w=1920&s=3fd1987615dcd8ab727fe9a9604d3740 1920w"
                    data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2017%2F09%2FM_160610_N38_medium.jpg?auto=format&crop=center&fit=crop&h=934&ixlib=php-1.2.1&w=1400&s=d436f89562515d645f76a2325b4338a8"
                    alt="#"
                    class="lazyload" sizes="(min-width: 992px) 50vw, (min-width: 740px) 67vw, 90vw">
            </div>
          </div>
				</div>
				<div class="[ l-row l-row--flush ] c-meet-body__item c-meet-body__item--text-on-top">
					<div class="[ col col--1-2 col--grid-4-bp-tl ] [ hide--tp ]">&nbsp;</div>
					<div id="section-6" class="[ col col--1-2 col--grid-8-bp-tl col--1-1-bp-tp ] ">
						<div class="c-text c-text--regular"><h2>Direct accountability</h2><p>Decisions made with clients are the ones we carry out – we don’t develop the design beyond what’s been agreed. Ken Shuttleworth reviews and contributes to all projects within the practice, but all final decisions are made between client and project architect, resulting in designs that go above and beyond.</p>

</div>
</div>
</div>
</div>
</div>
  </div>
</section>
		</div>
		</main>
		    <div id="maker-profile" class="c-maker__profile"></div>
   		</div>
	</div><!-- end app -->
<% include ./layouts/footer %>
