<% include ./layouts/head %>
<div id="reveal-home" class="reveal-slider page-home__reveal-slider">
  <div class="reveal-slider__slide" style="z-index: 0;">
    <div class="[ reveal-slider__scale ] [ overlay overlay--light ]">
      <div class="reveal-slider__slide-video-container">
        <video id="video-top" autoplay loop muted width="1920" height="1080" poster="https://2nrwu14egrp64exn143ufsvb-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/video1-1200x700.jpg" class="[ reveal-slider__slide-video ]" data-src="assets/videos/video.mp4?s=d409418ebebd243e2e2b69051e519152895d009e&profile_id=175">
          <source src="" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>

<section id="page-body" class="[ l-row l-row--white ]">
	<div class="container">
		<div class="[ col col--grid-12 col--1-1-bp-tl ] c-meet-lede">
      <h3>Contact</h3>
      <div class="row" style="padding-bottom:100px;">
        <div class="col-sm-3">
           <h4>Natco</h4>
           <h5>Yard</h5>
           <h5>Street number, District</h5>
           <h5>City, Country</h5>
           <h5>Get Directions</h5>
           <small>T: +44(0)20 7424 9611</small> <br>
           <small>E: General Enquiries to info@natco.com</small> <br>
           <small>E: Press Enquiries to press@natco.com</small> <br>
           <small>E: Recruitment Enquiries to jobs@natco.com</small> <br>
           <h5></h5>
        </div>
      </div>
		</div>
 </div>
</section>
 </main>

  </div>
	</div><!-- end app -->
<% include ./layouts/contact %>
