<% include ./layouts/head %>
<div class="relative">
	 <section class="[ l-row l-row--white l-row--flush l-row--no-flush-bp-tl ] c-meet-body">
				<div class="[ l-row l-row--flush ] c-meet-body__item">
					<div class="[ col col--1-2 col--grid-4-bp-tl ] [ hide--tp ]">&nbsp;</div>
					<div class="[ col col--1-2 col--grid-8-bp-tl col--1-1-bp-tp-flush ]">
            <div
                class="lazy-container  [ c-image ]" style="padding-bottom: 66.6684026874%;">
                <img
                    data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=19d63f30d03a9cdf39d391b4074c8ed5 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=acb5dde60881c436dee481288fa6e57a 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=bee889342c9f839593102c6304a198db 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=683&ixlib=php-1.2.1&w=1024&s=f5bf50da1288cd67aac71bd5104b4a1f 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1067&ixlib=php-1.2.1&w=1600&s=1e43606178b80de7e8cfea06fe176921 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1280&ixlib=php-1.2.1&w=1920&s=627c53de2d7cb35baaaf0a9583dc50a8 1920w"
                    data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9"
                    alt="#"
                    class="lazyload" sizes="(min-width: 992px) 50vw, (min-width: 740px) 67vw, 90vw">
            </div>
          </div>
				</div>

				<div class="[ l-row l-row--flush ] c-meet-body__item">
					<div class="[ col col--1-2 col--grid-4-bp-tl ] [ hide--tp ]">&nbsp;</div>
					<div id="section-4" class="[ col col--1-2 col--grid-8-bp-tl col--1-1-bp-tp ] [ padding--right padding--right-flush-bp-tl ]">
						<div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <h3>Always innovating</h3>
                <div class="lazy-container  [ c-image ]" style="padding-bottom: 66.6684026874%;">
                    <img
                        data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=19d63f30d03a9cdf39d391b4074c8ed5 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=acb5dde60881c436dee481288fa6e57a 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=bee889342c9f839593102c6304a198db 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=683&ixlib=php-1.2.1&w=1024&s=f5bf50da1288cd67aac71bd5104b4a1f 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1067&ixlib=php-1.2.1&w=1600&s=1e43606178b80de7e8cfea06fe176921 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1280&ixlib=php-1.2.1&w=1920&s=627c53de2d7cb35baaaf0a9583dc50a8 1920w"
                        data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9"
                        alt="#"
                        class="lazyload" sizes="(min-width: 992px) 50vw, (min-width: 740px) 67vw, 90vw">
                </div>
                <hr>
               <p style="margin-bottom:50px;">
                  Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.
                  Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.
                  Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.
                  Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.
                  Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.
                  Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.
                  Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.
                  Innovation is essential to our design process. We’re thrilled about the possibilities of virtual reality and are investing heavily in it, and we employ BIM from the outset on all projects. We also undertake extensive R&amp;D and operate a think tank, the <a href="">Future Spaces Foundation</a>, which is dedicated to researching how to create the towns and cities of the future.</p>
               <div class="row">
                 <div class="col-sm-6">
                   <div class="lazy-container  [ c-image ]" style="padding-bottom: 66.6684026874%;">
                       <img
                           data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=19d63f30d03a9cdf39d391b4074c8ed5 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=acb5dde60881c436dee481288fa6e57a 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=bee889342c9f839593102c6304a198db 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=683&ixlib=php-1.2.1&w=1024&s=f5bf50da1288cd67aac71bd5104b4a1f 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1067&ixlib=php-1.2.1&w=1600&s=1e43606178b80de7e8cfea06fe176921 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1280&ixlib=php-1.2.1&w=1920&s=627c53de2d7cb35baaaf0a9583dc50a8 1920w"
                           data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9"
                           alt="#"
                           class="lazyload" sizes="(min-width: 992px) 50vw, (min-width: 740px) 67vw, 90vw">
                   </div>
                 </div>
                 <div class="col-sm-6">
                   <div class="lazy-container  [ c-image ]" style="padding-bottom: 66.6684026874%;">
                       <img
                           data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=19d63f30d03a9cdf39d391b4074c8ed5 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=acb5dde60881c436dee481288fa6e57a 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=bee889342c9f839593102c6304a198db 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=683&ixlib=php-1.2.1&w=1024&s=f5bf50da1288cd67aac71bd5104b4a1f 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1067&ixlib=php-1.2.1&w=1600&s=1e43606178b80de7e8cfea06fe176921 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=1280&ixlib=php-1.2.1&w=1920&s=627c53de2d7cb35baaaf0a9583dc50a8 1920w"
                           data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-18.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=e5c02e115e4a0f91b719a65bd7fa32c9"
                           alt="#"
                           class="lazyload" sizes="(min-width: 992px) 50vw, (min-width: 740px) 67vw, 90vw">
                   </div>
                 </div>
               </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
					</div>
				</div>
   </section>
		</div>
		</main>

   		</div>
	</div><!-- end app -->
<% include ./layouts/footer %>
