<% include ./layouts/head %>
		<div id="reveal-home" class="reveal-slider page-home__reveal-slider">
			<div class="reveal-slider__slide" style="z-index: 0;">
				<div class="[ reveal-slider__scale ] [ overlay overlay--light ]">
					<div class="reveal-slider__slide-video-container">
						<video id="video-top" autoplay loop muted width="1920" height="1080" poster="https://2nrwu14egrp64exn143ufsvb-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/video1-1200x700.jpg" class="[ reveal-slider__slide-video ]" data-src="assets/videos/video.mp4?s=d409418ebebd243e2e2b69051e519152895d009e&profile_id=175">
				            <source src="" type="video/mp4">
				        </video>
				    </div>
			    </div>
			</div>
			<span id="slide-1" class="reveal-slider__slide-text">&nbsp;</span>
		        <div class="reveal-slide-wrap">
					<div class="reveal-slider__slide" style="z-index: 3">
				        <div class="reveal-slider__scale">
            <div
                class="lazy-container  [ js-pseudo lazyloadunveil ]" style="padding-bottom: 66.6684026874%;">
               <img
                    data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-22.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=0ab8bdbd2b0988018f7c1980ca69568a 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-22.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=90e1cb71fd7bcc583fa1137b19c7405c 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-22.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=01dc894b18efbcbd140ffa027539974d 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-22.jpg?auto=format&crop=center&fit=crop&h=683&ixlib=php-1.2.1&w=1024&s=26bd44e9a2bdab36e081dec11447de16 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-22.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=5e98af247edc403642a7a2e0e3a121d7 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-22.jpg?auto=format&crop=center&fit=crop&h=1067&ixlib=php-1.2.1&w=1600&s=dcffd3b93160ad5e665e3432155be7d7 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-22.jpg?auto=format&crop=center&fit=crop&h=1280&ixlib=php-1.2.1&w=1920&s=c9db08d6b2eb380a42e0ff19e157affd 1920w"
                    data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-22.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=5e98af247edc403642a7a2e0e3a121d7"
                    alt="#"
                    class="lazyload" sizes="100vw">

            </div>
           </div>
				    </div>
				   <span id="slide-3" class="[ reveal-slider__slide-text reveal-slider__slide-overlay ] page-home__reveal-slider__slide-overlay">
				    	<h2 class="[ padding--left ] page-home__reveal-slider__slide-title ">We’re employee-owned. <br />
              We have no house style. <br />
              We design and deliver. </h2>
				    	<a href="/about" class="[ padding--left ] page-home__reveal-slider__slide-link">About us</a>
				    </span>
				</div>
		        <div class="reveal-slide-wrap">
					<div class="reveal-slider__slide" style="z-index: 4">
				        <div class="reveal-slider__scale">
            <div
                class="lazy-container  [ js-pseudo lazyloadunveil ]" style="padding-bottom: 66.6684026874%;">
                <img
                    data-srcset="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-19.jpg?auto=format&crop=center&fit=crop&h=140&ixlib=php-1.2.1&w=210&s=a15aebbb6bcf432329ebd0784a4bafc9 210w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-19.jpg?auto=format&crop=center&fit=crop&h=280&ixlib=php-1.2.1&w=420&s=7f7366bd343b9587735596da47dadadf 420w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-19.jpg?auto=format&crop=center&fit=crop&h=512&ixlib=php-1.2.1&w=768&s=e983764d65f5fa8f478005cfb164dd52 768w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-19.jpg?auto=format&crop=center&fit=crop&h=683&ixlib=php-1.2.1&w=1024&s=a5bf959cb48a9268fdbd5ee98c3c6bad 1024w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-19.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=b52ab89ca265c764dd599233d6837989 1400w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-19.jpg?auto=format&crop=center&fit=crop&h=1067&ixlib=php-1.2.1&w=1600&s=e4125cb533357a604b59c02c49b6a6a3 1600w,https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-19.jpg?auto=format&crop=center&fit=crop&h=1280&ixlib=php-1.2.1&w=1920&s=8ec942a9a4b056c243a8b21edc4c521f 1920w"
                    data-src-ie="https://ratio.imgix.net/https%3A%2F%2Fmakearchitects.wpengine.com%2Fwp-content%2Fuploads%2F2018%2F01%2FLondonStudio-Make-19.jpg?auto=format&crop=center&fit=crop&h=933&ixlib=php-1.2.1&w=1400&s=b52ab89ca265c764dd599233d6837989"
                    alt="#"
                    class="lazyload" sizes="100vw">
            </div>
            </div>
				    </div>
				   <span id="slide-4" class="[ reveal-slider__slide-text reveal-slider__slide-overlay ] page-home__reveal-slider__slide-overlay">
				    	<h2 class="[ padding--left ] page-home__reveal-slider__slide-title ">Founded in 2004 by Ken Shuttleworth, today we have over 150 people in London, Hong Kong and Sydney providing architecture, interior and urban design services from concept to completion.</h2>
				    	<a href="/works" class="[ padding--left ] page-home__reveal-slider__slide-link">Our Work</a>
				    </span>
				</div>
		    <div id="slider-dots" class="reveal-slider__dots-wrap">
				<ul class="[ reveal-slider__dots ] [ list--bare ]">
			    	<li><a data-target="#slide-1" data-scroll-to class="dot">0_dump5</a></li>
			    	<li><a data-target="#slide-3" data-scroll-to class="dot">3</a></li>
			    	<li><a data-target="#slide-4" data-scroll-to class="dot">4</a></li>
			    </ul>
			</div>
		</div>
	<main class="l-main">
		<div class="preloader">
				<div class="l-row">
					<div class="container container--flex">
						<span class="preloader__logo">
							NATCO
						</span>
					</div>
				</div>
			</div>
		</main>

		    <div id="maker-profile" class="c-maker__profile"></div>
   		</div>
	</div><!-- end app -->
	<% include ./layouts/footer %>
