<% include ./layouts/head %>

<div class="relative">
	 <section class="[ l-row l-row--white l-row--flush l-row--no-flush-bp-tl ] c-meet-body">
				<div class="[ l-row l-row--flush ] c-meet-body__item">
					<div class="[ col col--1-2 col--grid-4-bp-tl ] ">&nbsp;</div>
					<div class="[ col col--1-2 col--grid-8-bp-tl col--1-1-bp-tp ]">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                  <div class="row" style="padding-top:130px;">
                    <div class="col-sm-12">
                      <h3 class="text-center">Our Works</h3>
                      <hr>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:30px;">
                    <div class="col-sm-6 text-center">
                      <img src="http://placehold.it/520x310" class="img-responsive center-block">
                    </div>
                    <div class="col-sm-6 text-center">
                      <img src="http://placehold.it/520x310" class="img-responsive center-block">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 text-center">
                      <img src="http://placehold.it/520x310" class="img-responsive center-block">
                    </div>
                    <div class="col-sm-6 text-center">
                      <img src="http://placehold.it/520x310" class="img-responsive center-block">
                    </div>
                  </div>

              </div>
              <div class="col-sm-1"></div>
            </div>
					</div>
				</div>
   </section>
		</div>
		</main>

   		</div>
	</div><!-- end app -->
<% include ./layouts/footer %>
